<div class="container main-container mt-5">
  <h3>Canal de Youtube</h3>
  <hr>


  <div class="card-columns" *ngIf="videos.length>0">
    <div class="card animated fadeIn fast" *ngFor="let video of videos">
      <img class="card-img-top" [alt]="video.title" [src]="video.thumbnails.high.url">
      <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <button class="btn btn-outline-primary btn-block" (click)="verVideo(video)">Ver Video</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content" *ngIf="videoSel">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{videoSel?.title}}</h5>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iQFpWJruXy4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Cerrar ventana</button>
      </div>
    </div>
  </div>
</div>
